SECRET_KEY=change-me
DATABASE_URL=
SESSION_COOKIE_SECURE=false
SESSION_LIFETIME_DAYS=30

OTP_PROVIDER_MODE=dev
DEV_OTP_EXPOSE_CODE=true
OTP_LENGTH=6
OTP_EXPIRY_SECONDS=300
OTP_RATE_LIMIT_WINDOW_SECONDS=3600
OTP_MAX_REQUESTS_PER_WINDOW=5
OTP_MAX_VERIFY_ATTEMPTS=5

STORAGE_MODE=auto
LOCAL_STORAGE_ROOT=
MAX_UPLOAD_SIZE_MB=25

GRAPH_TENANT_ID=
GRAPH_CLIENT_ID=
GRAPH_CLIENT_SECRET=
GRAPH_SHARE_LINK=https://svkmmumbai-my.sharepoint.com/:f:/g/personal/rushil_patil198_nmims_in/IgCSd7AP2oHES7EeAcLFgsGhAbwDk9L2Zq2_ugNFWRIoGPE?e=Lynjcy
GRAPH_SITE_ID=
GRAPH_DRIVE_ID=
GRAPH_ROOT_ITEM_ID=
GRAPH_SIMPLE_UPLOAD_MAX_BYTES=4194304

AUTO_SEED_DEMO=true
DEMO_USER_ONE_PHONE=+15550000001
DEMO_USER_TWO_PHONE=+15550000002
